<br>
<div class="ui text container">
<%= form_with model: @gallery, local: true, class: 'ui form' do  |g| %>
<div class="field">
	<label>Title</label>
	<%= g.text_field :title %>
</div>
<div class="field">
<label>Sampul</label>
	<%= g.file_field :sampul %>
</div>
<div class="field">	
<label>Image</label>
	<%= g.file_field :images, multiple: true %>
</div>
<div class="field">
	<p>
	<%= g.submit 'Create', class: 'ui primary button' %>
	<%= link_to 'Cancel', :back, class: 'ui red button' %>
	</p>
</div>
<% end %>
</div>