<!DOCTYPE html>
<html>
  <head>
    <title>AppActiveStorage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="ui text container">
  <h4><%= link_to 'Go to home page', root_url, class: 'ui teal button' %></h4>
  <h4><%= link_to 'Create gallery', new_gallery_url, class: 'ui primary button' %></h4>
  <div class="ui divider"></div>
    <%= yield %>
  </div>
  </body>
</html>
