<!DOCTYPE html>
<html>
  <head>
    <title>AppActiveStorage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <br>
  <div class="ui text container">
  <p>
  <%= link_to 'Index', root_url, class: 'ui teal button' %>
  <%= link_to 'Create gallery', new_gallery_url, class: 'ui primary button' %>
  </p>
  <div class="ui divider"></div>
    <%= yield %>
  </div>
  <br>
  </body>
</html>
